<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>sane-eleventy</title>
{%- comment -%} <title>{{ config.seo.title }}</title> {%- endcomment -%}

{%- comment -%} Preload styles {%- endcomment -%}
<link rel="preload" href="{% webpackAsset 'style.css' %}" as="style">

{%- comment -%} Preload fonts {%- endcomment -%}
{%- comment -%} <link rel="preload" href="/Cambon-Demi.woff2" as="font" type="font/woff2" crossorigin> {%- endcomment -%}

{%- comment -%} Preload scripts {%- endcomment -%}
<link rel="preload" href="{% webpackAsset 'main.js' %}" as="script">

{%- comment -%} <meta name="description" content="{{ config.seo.description }}">
<meta name="keywords" content="{{ config.seo.keywords | join(', ') }}" /> {%- endcomment -%}

{%- comment -%} Facebook Open Graph {%- endcomment -%}
{%- comment -%} <meta property="og:url" content="{{ config.seo.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ config.seo.title }}">
<meta property="og:description" content="{{ config.seo.description }}">
<meta property="og:site_name" content="{{ config.seo.title }}">
<meta property="og:locale" content="en_US">
<meta property="og:image" content="{{ config.seo.image.url }}">
<meta property="og:image:secure_url" content="{{ config.seo.image.url }}">
<meta property="og:image:alt" content="{{ config.seo.image.alt }}">
<meta property="og:image:width" content="{{ config.seo.image.metadata.dimensions.width }}">
<meta property="og:image:height" content="{{ config.seo.image.metadata.dimensions.height }}"> {%- endcomment -%}

{%- comment -%} Twitter Card {%- endcomment -%}
{%- comment -%} <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ config.seo.url }}">
<meta name="twitter:title" content="{{ config.seo.title }}">
<meta name="twitter:description" content="{{ config.seo.description }}">
<meta name="twitter:image" content="{{ config.seo.image.url }}">
<meta name="twitter:image:alt" content="{{ config.seo.image.alt }}"> {%- endcomment -%}

{%- comment -%} Favicons {%- endcomment -%}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤠</text></svg>">

{%- comment -%} Link stylesheet {%- endcomment -%}
<link rel="stylesheet" href="{% webpackAsset 'style.css' %}">

{%- comment -%} If browser-sync stops reloading, try uncommenting the below
{% if env !== 'production' %}
  <script async="" src="/browser-sync/browser-sync-client.js?v=2.26.7"></script>
{% endif %}
{%- endcomment -%}